In [36]:
import numpy as np
import pandas as pd
import math
# from scipy.stats import ttest_ind, norm
from scipy.stats import ttest_1samp

In [37]:
root = pd.read_csv(r'C:\Users\aidag\OneDrive\Escritorio\ironhack\lab-inferential-statistics\files_for_lab\principal_component_analysis_example\breast-cancer.csv')
df_original = root
df_original.head(5)

,119513,N,31,18.02,27.6,117.5,1013,0.09489,0.1036,0.1086,...,139.7,1436,0.1195,0.1926,0.314,0.117,0.2677,0.08113,5,5.1
0,8423,N,61,17.99,10.38,122.80,1001.0,0.11840,0.2776,0.3001,...,184.60,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890,3.0,2
1,842517,N,116,21.37,17.44,137.50,1373.0,0.08836,0.1189,0.1255,...,159.10,1949.0,0.1188,0.3449,0.3414,0.2032,0.4334,0.09067,2.5,0
2,843483,N,123,11.42,20.38,77.58,386.1,0.14250,0.2839,0.2414,...,98.87,567.7,0.2098,0.8663,0.6869,0.2575,0.6638,0.17300,2.0,0
3,843584,R,27,20.29,14.34,135.10,1297.0,0.10030,0.1328,0.1980,...,152.20,1575.0,0.1374,0.2050,0.4000,0.1625,0.2364,0.07678,3.5,0
4,843786,R,77,12.75,15.29,84.60,502.7,0.11890,0.1569,0.1664,...,107.30,733.2,0.1706,0.4196,0.5999,0.1709,0.3485,0.11790,2.5,0

In [3]:
# 1- It is assumed that the mean systolic blood pressure is μ = 120 mm Hg. In the Honolulu Heart Study, a sample of 
  # n = 100 peoplehad an average systolic blood pressure of 130.1 mm Hg with a standard deviation of 21.21 mm Hg. 
  # Is the group significantly
  # different (with respect to systolic blood pressure!) from the regular population?

In [4]:
# 1.1 Set up the hypothesis test.
# 1.2 Write down all the steps followed for setting up the test.
# 1.3 Calculate the test statistic by hand and also code it in Python. It should be 4.76190.
  #We will take a look at how to make decisions based on this calculated value.

In [38]:
print("""
STEP 1- Define the null hypothesis (H0): μ = 120
STEP 2- Define the alternate hypotesis: Ha): μ != 120 
STEP 3- Define significancy level: a = 0.05
STEP 4- Do the T staticstics with 1 or 2 tails (in this case 1 tail)
STEP 5- Create the critical region
STEP 6- Make a decision
""")

STEP 1- Define the null hypothesis (H0): μ = 120
STEP 2- Define the alternate hypotesis: Ha): μ != 120
STEP 3- Define significancy level: a = 0.05
STEP 4- Do the T staticstics with 1 or 2 tails (in this case 1 tail)
STEP 5- Create the critical region
STEP 6- Make a decision

In [39]:
systolic_blood_pressure_world_mean = 120

sample = 100
systolic_blood_pressure_mean = 130.1
systolic_blood_pressure_std = 21.21

a = 0.05

In [43]:
generated_sample = norm.rvs(loc=systolic_blood_pressure_mean, scale=systolic_blood_pressure_std, size=sample)
generated_sample

array([108.44129865, 100.90463784, 144.83900621, 139.42017337,
       126.82663619, 161.84185657, 136.54960164, 145.40562793,
       147.94364237, 153.72834208, 156.17102262, 123.02892729,
       181.10529111, 150.43146551, 112.42392361, 130.34122098,
       125.68463208, 177.8043069 , 131.75510399, 145.92263907,
       107.11119918, 153.27736717, 137.18521389, 146.2886513 ,
       143.12750993,  96.60357542, 117.63176776, 119.29326239,
       119.31380513, 102.76811538, 126.86156489, 124.58645088,
       134.70712115, 131.07767981, 170.56050352, 142.24039958,
       142.644841  , 122.02261385, 134.77337244, 148.31149627,
       131.4229103 , 130.02273015, 111.20030083, 131.06829932,
       103.2580097 , 175.36094606, 129.44391913, 123.85886906,
       131.59188799, 127.86526069, 119.8379031 , 131.33241205,
       138.35175388, 114.40863861, 108.00485046, 136.54215378,
       153.09274129, 118.50378059, 144.57913285, 123.01379808,
       118.23606323, 110.73837415, 140.19095086, 122.87721114,
       146.08122088, 118.520794  , 142.45625792, 159.50099798,
       112.90561985,  89.63267938, 163.21086404, 121.87478653,
       121.53941165, 130.55458264, 122.6874019 , 163.78596061,
       127.93970997, 121.34518164, 140.64345297, 149.30949209,
       134.19961578, 123.60985072, 154.04704487, 118.19110863,
       124.45136772, 112.89138588, 138.42960895, 138.78154822,
       122.62613474, 137.51909875, 114.13551841, 107.09838132,
       114.53821057, 118.80015881, 153.37213202, 129.91275768,
       111.95948007, 113.22740559, 117.80826745, 179.39027967])

In [44]:
t_statistic, p_value = ttest_1samp(generated_sample, systolic_blood_pressure_world_mean)

In [45]:
print("t-statistic:", t_statistic)
print("p-value:", p_value)

t-statistic: 6.380791614734813
p-value: 5.693234718476557e-09